<!DOCTYPE html>
<html>
  <head>
    <title><%= turma %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= turma %></h1>
    <p>Bem vindo à <%= turma %></p>
  </body>
  <ul>
    <li><a href="http://localhost:3000/autores/listar">Autores</a></li>
  </ul>
</html>
